.section-button_place_registration {
  border: 2px solid #000000;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
  text-align: center;
  border-radius: 0px 8px 8px 0px;
  width: 205px;
  height: 50px;
  border-left: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.375px;
}

@media (max-width: 590px) {
  .section-button_place_registration {
    width: 107px;
    font-size: 11px;
  }
}
