.camera__image {
  position: absolute;
  max-width: 642px;
  width: 100%;
  top: 50px;
  right: 50px;
  object-fit: contain;
}

@media (max-width: 1370px) {
  .camera__image {
    max-width: 580px;
  }
}

@media (max-width: 1120px) {
  .camera__image {
    max-width: 550px;
  }
}

@media (max-width: 1090px) {
  .camera__image {
    max-width: 500px;
  }
}

@media (max-width: 955px) {
  .camera__image {
    max-width: 688px;
    max-height: 656px;
    object-fit: cover;
    position: static;
  }
}

@media (max-width: 450px) {
  .camera__image {
    max-width: 280px;
    max-height: 268px;
  }
}
