.section-description_place_course {
  font-size: 20px;
  max-width: 469px;
  width: 100%;
}

@media (max-width: 1140px) {
  .section-description_place_course {
    font-size: 18px;
    max-width: 340px;
  }
}

@media (max-width: 955px) {
  .section-description_place_course {
    font-size: 20px;
    max-width: 469px;
  }
}

@media (max-width: 450px) {
  .section-description_place_course {
    font-size: 14px;
    line-height: 18px;
  }
}
