.section-caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

@media (max-width: 450px) {
  .section-caption {
    font-size: 14px;
    line-height: 20px;
  }
}
