.registration__title {
  font-weight: 400;
  font-size: 120px;
  line-height: 120px;
  margin: 0;
}

@media (max-width: 1090px) {
  .registration__title {
    font-size: 100px;
    line-height: 100px;
  }
}

@media (max-width: 730px) {
  .registration__title {
    font-size: 48px;
    line-height: 50px;
  }
}
